<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <a href="/">
            <span> Home </span>
        </a>

        <h1>New Message</h1>
        <form method="POST" action="/new">
            <div>
                <label>Name</label>
                <input type="text" name="userName"></input>
            </div>
            <div>
                <label>Message</label>
                <input type="text" name="message"></input>
            </div>
            <button type='submit'>Submit</button>
        </form>
    </body>
</html>