<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <div class="home">

            <%- include('header') %>

            <div class="main">

                <a href="new">
                    <button class="newMessageBttn"> New Message </button>
                </a>

                <div class="messagesContainer">
                    <% messages.forEach((message) => { %>
                        <%- include('messageCard', { message: message }); %>
                    <% }); %>
                </div>

            </div>
        </div>
    </body>
</html>