
<div class="card">
    
    <div>
        <h2><%= message.username %></h2>
        <p><%= message.added %></p>
    </div>
    
    <a href="message/<%= message.id %>"><button>Open</button></a>
</div>
